*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: linear-gradient(#20c5d8,#ff38dc);
        color: aliceblue;
      
}

.container-pai{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

#on{
    font-size: 120px;
   transform: translate(-500px,-110px);
}
#book{
    font-size: 120px;
    transform: translate(-280px, -180px);

}
#store{
    font-size: 120px;
    transform: translate(-20px, -210px);
}
