*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: linear-gradient(#20c5d8,#ff38dc);
        color: aliceblue;
      
}

.container-pai{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color:rgba(106, 220, 222, 0.582);
    padding: 50px; 
    box-shadow: 60px -16px rgba(0, 128, 128, 0.251);
    border: solid;
    border-style: double;
    transform: translate(-00px);
}

#email{

    align-items: center;
    margin: 6px;
    padding: 20px;
    width: 300px;
    justify-content: center;
    transform: translatex(80px);
    border-radius: 40px;
    background-color: #8e4fd3;
    border: 2px white;
    color: aliceblue;
    transform: translate(-10px);
    
}
   
#botao{
    width: 6px;
    align-items: center;
    margin: 6px;
    padding: 20px;
    width: 300px;
    justify-content: center;
    transform: translatex(80px);
    border-radius: 40px;
    background-color: #8e4fd3;
    border: 2px white;
    color: aliceblue;
    transform: translate(-10px);
}

#on{
    font-size: 80px;
    transform: translate(-200px,-200px);
    box-shadow:60px,80px#20c5d8;
}

#book{
    font-size: 80px;
    transform: translate(-150px, -50px);
}

#store{
    font-size: 80px;
    transform: translate(-100px, 100px);
}
input::placeholder {
    color: rgb(255, 255, 255);
    text-align: center;}
#titulo{
   margin: 25px;
   font-size: 30px;
   
}